<!DOCTYPE html>
<html>
<head>
  <title>Vivus</title>
  <%= stylesheet_link_tag    "vivus/application", :media => "all" %>
  <%= javascript_include_tag "vivus/application" %>
  <%= csrf_meta_tags %>
</head>
<body id="vivus">

<%= yield %>

</body>
</html>
