<nav id="vivus-navigation">
  <ul>
    <% @stylesheets.each do |group| %>
      <% section = group[0] %>
      <% section_slug = section.downcase.gsub(/[^a-z1-9]+/, '-').chomp('-') %>
      <% components = group[1] %>

      <li class="h1 <%= "active" if section.downcase.gsub(/[^a-z1-9]+/, '-').chomp('-') == params[:section] %>">
        <%= link_to section, vivus_section_path(section_slug) %>

        <% if components.present? %>
          <ul>
            <% components.uniq{|c| c.name}.each do |component| %>
              <li class="h2">
                <%= link_to component.name, vivus_section_path(section_slug, anchor: component.slug) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
