<%#= render partial: "nav" %>
<div id="vivus-navigation">
  <ul>
    <li>herher</li>
    <li>herher</li>
    <li>herher</li>
    <li>herher</li>
    <li>herher</li>
    <li>herher</li>
    <li>herher</li>
  </ul>
</div>
<div id="vivus-body">
  <ul class="sections">
    <% @stylesheets.each do |stylesheet| %>
      <% stylesheet.parse.each do |block| %>
        <li>
          <em>From <%= block.source %></em>
          <%= block.comments.html_safe %>
          <pre><%= block.html.html_safe %></pre>
        </li>
      <% end %>
    <% end %>
  </ul>

</div>
