<%#= render partial: "nav" %>
<div id="vivus-navigation">
  <ul>

  </ul>
</div>
<div id="vivus-body">
  <ul class="vivus-sections">
    <% @stylesheets.each do |stylesheet| %>
      <% stylesheet.parse.each do |section_title, components| %>
        <h1 class="vivus-section"><%= section_title %></h1>
        <%= render partial: "component", collection: components %>
      <% end %>
    <% end %>

    <% if @stylesheets.collect{|s| s.parse}.flatten.blank? %>
      <li>
        <h2>Let's begin!</h2>
        <p>Above each block of code in your CSS, start documenting your styleguide by writing co
        <p>The important bits are:</p>
        <ul>
          <li><code>// Description</code> indicates this is a Vivus comment, and will be parsed accord
          <li><code>// Example</code> marks the start and end of the HTML example code that
        </ul>
        <br />
        <pre>

/* Description
 *
 * Section title, as in "Buttons" or "Tables"
 * ==========================================
 * Write some documentation explaining the use / concept of the CSS
 * you've got below. This bit will be markdown rendered.
 *
 * - You can use three backticks (`) to indicate a code block
 * - Code blocks will be syntax highlighted
 *
 * When you've documented it nicely, use the Example markers to
 * indicate a block of HTML that uses the CSS.
 *
 * Keeps your documentation right near the CSS.
 * So, if you update / refactor the CSS, update the HTML example if
 * need be.
 *
 */

/* Example
 * &lt;div class="example"&gt;
 *   &lt;a href="#" class="button"&gt;Some text&lt;a&gt;
 * &lt;/div&gt;
 */
        </pre>
      </li>
    <% end %>
  </ul>
</div>


