<li class="vivus-example-section">
  <nav class="vivus-tabbed">
    <a href="#vivus-example" class="vivus-tab vivus-active">Example</a>
    <a href="#vivus-code" class="vivus-tab">Code</a>
  </nav>

  <div class="vivus-example vivus-block vivus-block-opened">
    <%= data.html_safe %>
  </div>

  <div class="vivus-code vivus-block ">
    <pre><%= data %></pre>
  </div>
</li>
