#vivus-body {
  margin-left: 360px;
  padding: 40px 40px 40px 0;

  ul.sections {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      border-bottom: 1px solid #eee;
      margin-bottom: 40px;
    }
  }
}
