#vivus-body {
  margin-left: 250px;
  padding: 30px;

  ul.vivus-sections {
    margin: 0;
    padding: 0;

    & > li {
      list-style: none;
      border-bottom: 1px solid #eee;
      margin-bottom: 40px;

      &.vivus-source {
        margin: 0 0 20px 0;
        font-size: 12px;
        font-style: italic;
      }

      &.vivus-documentation {
        margin: 0 0 40px 0;
        font-size: 15px;
        font-family: "Open Sans", droid_sans_monoregular, mono, sans;

        > h1 {
          color: #C93312;
        }

        code {
          font-size: 13px;
          color: #660000;
          font-family: "Open Sans", droid_sans_monoregular, mono, sans;
          @import 'syntax-highlighting';
        }
      }

      &.vivus-example {
        @include clearfix;
        margin: 0 0 40px 0;
        font-size: 15px;

        .vivus-title {
          font-family: "Open Sans", droid_sans_monoregular, mono, sans;
        }
      }

      &.vivus-code {
        display: none;
        .vivus-title {
          font-family: "Open Sans", droid_sans_monoregular, mono, sans;
        }

        & > pre {
          font-family: "Open Sans", droid_sans_monoregular, mono, sans;
          word-wrap: break-word;
          margin: 0px;
          padding: 10px;
          color: #657b83; /* base00 */
          font-size: 14px;
          margin-bottom: 20px;

          @import 'syntax-highlighting';
        }
      }
    }
  }
}
