#vivus-navigation {
  float: left;
  max-width: 250px;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #24281A;

  @include respond-to("small") {
    display: none;
  }

  max-height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  font-family: "Open Sans", droid_sans_monoregular, mono, sans;

  ul {
    padding: 40px;
    margin: 0;
    color: #D5D5D3;

    li {
      margin-bottom: 5px;

      a {
        line-height: 1.45;
        text-decoration: none;
        color: #D5D5D3;
      }

      &.h1 {
        text-transform: uppercase;
        font-size: 15px;
        list-style: none;
        margin: 20px 0 5px -20px;

        a {
          color: #F3DF6C;
        }
      }

      &.h2 {
        font-size: 13px;
        color: #C3CED0;
      }

      &.h3 {

      }

      &.h4 {

      }

      &.h5 {

      }

      &.h6 {

      }
    }
  }
}
