#vivus-body {
  margin-left: 250px;
  max-width: 950px;
  padding: 30px;

  @include respond-to("small") {
    margin: 0;
    padding: 20px;
  }

  ul.vivus-sections {
    margin: 0;
    padding: 0;

    li.vivus-section {
      list-style: none;
      margin-bottom: 40px;

      ul.vivus-components {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
